* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

/* --START OPMAAK SECTION HEADER-- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 80px 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.active {
  background: var(--white);
  padding: 48px 9%;
}

.header.active .logo,
.header.active .navbar a,
.header.active .menu {
  color: var(--black);
}

.header .logo {
  margin-right: auto;
  font-size: 32px;
  color: var(--white);
  font-weight: 700;
}

.header .logo span {
  font-weight: normal;
}

.header .navbar a {
  font-size: 30px;
  color: var(--white);
  margin-left: 35px;
}

.header .navbar a:hover {
  opacity: 50%;
  transition: ease-in-out;
}

.header .menu {
  font-size: 32px;
  color: var(--white);
  display: none;
}

section {
  padding: 80px 9%;
}

.heading {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

/* --EINDE OPMAAK SECTION HEADER-- */

/*--START OPMAAK TEXT HOMEPAGE-- */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  background-color: var(--black);
}

.home h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
}

.home p {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
  margin-top: 10px;
}
/*--EINDE OPMAAK TEXT HOMEPAGE-- */

/* -START OPMAAK SECTION VIDEO-- */
.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  background-color: var(--white);
}
/* -EINDE SECTION VIDEO-- */

/* -START OPAAK SECTION COUNTRIES-- */
.countries-row {
  display: flex;
}

.land-naam {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land-naam h1 {
  font-size: 30px;
  color: var(--black);
}

.text-center {
  text-align: center;
}

.color-white {
  color: var(--black);
}

.box-container {
  flex-direction: row;
  width: 34%;
}

.box-item {
  position: relative;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 2px;
  color: var(--black);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

/* -EIND OPAAK SECTION COUNTRIES-- */

/* footer */
.footer {
  text-align: center;
}

.footer .logo {
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
}

.footer .logo span {
  font-weight: normal;
}

.footer p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: gray;
}

.footer .socials ion-icon {
  font-size: 2.5rem;
  color: var(--black);
  background: var(--light-bg);
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.footer .socials ion-icon:nth-child(1) {
  color: var(--google-color);
}

.footer .socials ion-icon:nth-child(1):hover {
  background: var(--google-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(2) {
  color: var(--twitter-color);
}

.footer .socials ion-icon:nth-child(2):hover {
  background: var(--twitter-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(3) {
  color: var(--youtube-color);
}

.footer .socials ion-icon:nth-child(3):hover {
  background: var(--youtube-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(4) {
  color: var(--linkedin-color);
}

.footer .socials ion-icon:nth-child(4):hover {
  background: var(--linkedin-color);
  color: var(--white);
}

/* footer */

/* START OPMAAK TABLET----------------------------- */
@media (max-width: 1200px) {
  /*--START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 45px;
    margin-top: 500px;
  }

  .home p {
    font-size: 25px;
  }

  .header .navbar a {
    font-size: 20px;
  }
  /*--EINDE OPMAAK TEXT HOMEPAGE-- */


/* --START OPMAAK SECTION VIDEO-- */
.about {
  height: 50vh;
}

#myVideo {
  max-width: 780px;
}
/* --EINDE SECTION VIDEO-- */


/* --START OPAAK SECTION COUNTRIES-- */

.land-naam {
  height: 60px;
}

.box-container {
  flex-direction: row;
  width: 34%;
}

.box-item {
  position: relative;
}

.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
    min-height: 300px;
}

/* --EIND OPAAK SECTION COUNTRIES-- */
}



/* START OPMAAK MOBIEL STAAND----------------- */
@media (max-width: 800px) {
  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 500px;
  }

  .home p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 30px;
  }
  /*-- EINDE OPMAAK HOME SECTION  --*/

  /* -START SECTION VIDEO-- */
  .about {
    height: 30vh;
  }

  #myVideo,
  #myVideo2 {
    max-width: 300px;
  }
  /* -EINDE SECTION VIDEO-- */

  /* -START OPAAK SECTION GALLERIJ-- */
  .container-countries {
    display: flex;
    flex-direction: column;
  }

  .countries-row {
    display: flex;
    flex-direction: column;
  }

  .box-container {
    flex-direction: row;
    width: 100%;
  }
  /* -EINDE OPAAK SECTION GALLERIJ-- */
}

/* EINDE OPMAAK MOBIEL STAAND------------------------- */


/* START OPMAAK MOBIEL LIGGEND------------------------ */
@media (max-height: 400px) {
  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 250px;
  }

  /* -START SECTION VIDEO-- */
  .about {
    height: 100vh;
  }

  #myVideo {
    max-width: 300px;
  }

  /* -EINDE SECTION VIDEO-- */

  .container-countries {
    display: flex;
    flex-direction: column;
  }

  .countries-row {
    display: flex;
    flex-direction: column;
  }
}

/* EIND OPMAAK MOBIEL LIGGEND--------------------------------------------- */
