/* START OPMAAK MOBIEL STAAND------------------------------------------- */
@media (max-width: 800px) {
  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 500px;
  }

  .home p {
    font-size: 18px !important;
    font-weight: 700;
    margin-top: 5px;
    line-height: 30px;
  }

  .slideshow li:nth-child(1) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(2) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(3) span {
    background-position: 45% 0%;
  }

  .slideshow li:nth-child(4) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(5) span {
    background-position: 85% 0%;
  }

  /*-- EINDE OPMAAK HOME SECTION  --*/

  /* -START SECTION VIDEO-- */
  .about {
    height: 50vh;
  }

  #myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
  }

  /* -EINDE SECTION VIDEO-- */

  /* -START OPAAK SECTION GALLERIJ-- */
  .container-countries {
    display: flex;
    flex-direction: column;
  }

  .countries-row {
    display: flex;
    flex-direction: column;
  }

  .box-container {
    flex-direction: row;
    width: 100%;
  }



  /* -EINDE OPAAK SECTION GALLERIJ-- */
}

/* EINDE OPMAAK MOBIEL STAAND--------------------------------------------- */

/* START OPMAAK MOBIEL LIGGEND-------------------------------------------- */
@media (max-height: 380px) {
  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 250px;
  }

  .home p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 22px;
  }

  .slideshow li:nth-child(1) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(2) span {
    background-position: 50% 100%;
  }

  .slideshow li:nth-child(3) span {
    background-position: 45% 22%;
  }

  .slideshow li:nth-child(4) span {
    background-position: 50% 40%;
  }

  .slideshow li:nth-child(5) span {
    background-position: 85% 20%;
  }

  /*-- EINDE OPMAAK HOME SECTION  --*/

  /* -START SECTION VIDEO-- */
  .about {
    height: 100vh;
  }

  #myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
  }

  /* -EINDE SECTION VIDEO-- */

  /* -START OPAAK SECTION GALLERIJ-- */
  .services {
    height: 300vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .card-c1 {
    height: 25%;
  }

  .card-c1 img {
    width: 100%;
    min-height: 100%;
  }

  /* -EINDE OPAAK SECTION GALLERIJ-- */

  .container-countries {
    display: flex;
    flex-direction: column;
  }

  .countries-row {
    display: flex;
    flex-direction: column;
  }
}

/* EIND OPMAAK MOBIEL LIGGEND--------------------------------------------- */

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@keyframes zoomin {
  0% {
    opacity: 0;
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

/* START OPMAAK HAMBURGER MENU--------------------------------------------- */
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    flex-flow: column;
    text-align: center;
    transform: translateX(100%);
  }

  header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: var(--black);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .container-countries {
    display: flex;
    flex-direction: column;
  }

  .countries-row {
    display: flex;
    flex-direction: column;
  }
}

/* EIND OPMAAK HAMBURGER MENU--------------------------------------------- */
