/* START OPMAAK TABLET-------------------------------------------------- */
@media (max-width: 1200px) {
  /*-- START OPMAAK HOME SECTION --*/
    .home h1 {
      font-size: 45px;
      font-weight: 700;
      margin-top: 500px;
      color: red;
    }
  
    .home p {
      font-size: 25px;
      font-weight: 700;
    }
  
    .header .navbar a {
      font-size: 20px;
    }
  
     
    /*-- EINDE OPMAAK HOME SECTION  --*/
  
  
    /* -START SECTION VIDEO-- */
    #myVideo {
      max-width: 810px;
      min-height: 100%;
    }
  
    /* -EINDE SECTION VIDEO-- */
  
  
    /* -START OPAAK SECTION GALLERIJ-- */
    .services {
      height: 60vh;
    }
  
    .card-c1 {
      height: 100%;
    }
  
  
    .card-c1 img {
      width: 100%;
      min-height: 100%;
    }
  
    /* -EINDE OPAAK SECTION GALLERIJ-- */
  }
  
  /* EINDE OPMAAK TABLET-------------------------------------------------- */